/*
	自定义的样式,它可覆盖掉vue.css
*/


/* 覆盖vue.css 
	为了解决首页无法铺满的问题 
*/
section.cover .cover-main {
	margin: 0;
}
.navCover{
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	width: 860px;
	height: 830px;
	background: url(https://5docs.oss-cn-shanghai.aliyuncs.com/res/navCover.png) no-repeat;
	background-size: 100% 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.navbar{
	color: white;
	text-align: left;
	margin-right: 121px;
	margin-top: 300px;
}
.navbar a{
	font-size: 18px;
}
.banner{
	width: 100%;
	height: 1080px;
	background: url(https://5docs.oss-cn-shanghai.aliyuncs.com/res/banner.png) no-repeat center center;
	background-size: cover;
}
@media screen and (max-width: 1280px) {
	.banner{
		height: 848px;
	}
	.navCover{
		width: 760px;
		height: 730px;
	}
	.navbar a{
		font-size: 16px;
	}
}
@media screen and (min-width: 1281px) and (max-width: 1366px) {
	.banner{
		height: 848px;
	}
	.navCover{
		width: 760px;
		height: 730px;
	}
	.navbar a{
		font-size: 16px;
	}
}
@media screen and (min-width: 1367px) and (max-width: 1440px) {
	.banner{
		height: 848px;
	}
	.navCover{
		width: 760px;
		height: 730px;
	}
	.navbar a{
		font-size: 16px;
	}
}
@media screen and (min-width: 1441px) and (max-width: 1660px) {
	.banner{
		height: 848px;
	}
	.navCover{
		width: 760px;
		height: 730px;
	}
	.navbar a{
		font-size: 16px;
	}
}